*{
  padding: 0;
  margin: 0;
}

#section h1{
  font-size: 11px;
  transform: translate(58.8%,150%);
}
#section img{
  transform: translate(321.5%,60%);
}
#section h2{ 
  transform: translate(36.1%,70%);
  font-size: 200%;
  color: #26a008;
}
.wrap{ display: flex; flex-wrap: wrap; }
#section h3{
  font-size: 12.5px;
  transform: translate(36.1%,23%);
}

#form1{
  position:relative;/*フォームの相対位置*/	
  transform: translate(36.1%);/*フォームのサイズ*/
  margin-top:50px;/*フォームの下に余白*/	
  }
  /*検索ボックス*/
  #sbox1{
    position:absolute;/*フォームの絶対位置*/	
    left:0;
    top:0; 	
    outline:0;/*クリック時の青い枠線消す*/	
    height:30px;/*検索ボックスの高さ*/	
    width: 280px;
    padding:0 10px;/*テキスト位置調整*/	 
    border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
    background:#ffffff;/*検索ボックスの背景カラー*/		
  }
  /*検索ボタン*/
  #sbtn1{
    width:70px;/*検索ボタンの横幅*/ 
    height:35px;/*検索ボタンの縦幅*/ 
    position:absolute;/*検索ボタンの絶対位置*/  
    left:310px;/*検索ボタンの位置調整*/  
    top:0;
    border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
    background:#26a008;/*検索ボタンの背景カラー*/ 
    border:none;/*検索ボタンの枠線を消す*/ 
    color:#fff;/*検索ボタンのテキストカラー*/ 
    font-weight:bold;/*検索ボタンのテキスト太字*/ 
    font-size:16px;/*検索ボタンのフォントサイズ*/ 
    }
    /*検索ボタンマウスオーバー時*/
  #sbtn:hover{
    color:#ffffff;/*検索ボタンマウスオーバー時のフォントカラー*/ 
  }
  #section h4{
    transform: translate(38.4%,240%);
    font-size: 12.5px;
  }
  #section h5{
    transform: translate(38.4%,600%);
    color: #26a008;
    font-size: 14px;
  }
  #section h6{
    transform: translate(42.5%,720%);
    font-size: 10px;
  }



/* drawer */
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  filter: drop-shadow(2px 0px 6px #777);
}
ul.panelInner {
    padding: 0 25px;
    border: none;
    list-style: none;
    margin: 0;
}
.panelInner li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #999;
    display: block;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel #drawerClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    padding: 20px;
    cursor: pointer;
}
.lineClose {
    display: inline-block;
    vertical-align: middle;
    color: #aaa;
    line-height: 1;
    width: 2.5rem;
    height: 0.2rem;
    background: currentColor;
    border-radius: 0.1rem;
    position: relative;
    transform: rotate(45deg);
    transition: 0.2s;
}
.lineClose::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}
.sidepanel #drawerClose:hover > span {
    color: #ddd;
}